.section1{
    @include mobileMode{
        display: flex;
        flex-direction: column-reverse;
        //@include flexCenter();
        width: 100%;
    }
    .left-sec{
        margin-left:130px ;
        margin-top: 140px;
        width: 50%;
        @include mobileMode{
            width: 100%;
            margin-top: 60px;
        }
        h1{
            color: $p-color;
            font-size: 5em;
            width: 555px;
            @include mobileMode{
                font-size: 2.5em;
                text-align: center;
                margin-left: -70px;
            }
        }
        img{
            margin-top: 30px;
            width: 479px;
            margin-left: -10px;
           }
        }
        p{
            color: #000000;
            font-size: 18px;
            width: 461px;
            height: 90px;
            margin-top: 50px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
        .buttons{
            .try-btn{
                width: 165px;
                height: 62px;
                border: 1px solid $primary-color;
                border-radius: 40px;
                padding: 20px 30px 20px 30px;
                background-color: $primary-color;
                color: white;
                font: size 18px;;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    background-color: transparent;
                    color: $primary-color;
                }
            }
            img{
                width: 31.67px;
                height: 31.67px;
                margin-left: 44.1px;
            }
            .view-btn{
                border: 1px solid transparent;
                background-color: transparent;
                font-size: 18px;
                font-weight: 500px;
                color: $p-color;
                margin-left: 18.17px;
                cursor: pointer;
            }
        }
    }
    .right-sec{
        width: 50%;
        img{
            width:  663.68px;
            height: 558.99px;
            margin-top: 140px;
            &:hover{
                transition-delay: 0.1s;
                transform: scale(1.1);
            }
        @include mobileMode{
            //width: 100%;
            margin-left: -113px;
            width: 519.68px;
            margin-top: 15px;
        }
    }
}