.section2{
    padding-bottom: 50px;
    margin-bottom: -20px;
    @include flexCenter();
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left,#7ed6b41c, #faf9f9,#7ed6b45e,#7ed6b45e );
    h2{
        text-align: center;
        color: $p-color;
        font-size: 40px;
        font-weight: 700;
        width: 720px;
        height: 48px;
        @include mobileMode(){
            font-size: 30px;
        }
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
            margin-left: 50px;
            @include mobileMode(){
                margin-top: 50px;
            }
        }
        @include mobileMode(){
            display: flex;
            flex-direction:column ;
        }
    }
}
